.navbar-brand {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 18px;
}

#navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 0px;
}

#navbarSupportedContent, #nav-item {
    color: #777;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#navigation {
    padding: 0px;
}

#navigation a:hover {
    color: #fff;
}

body {
    background-image: url(../images/light-grey-terrazzo.png);
    background-color: #ccc;
}

#profilepic {
    margin-top: 10px;
}

#paragraph1 {
    margin-top: 15px;
}
    
    
 #paragraph2 {
    margin: 20px auto;
    padding-left: 15.75px;
}

#paragraph3 {
    margin: 0 auto;
    padding-left: 15.75px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 5px solid #4aaaa5;
    background-color: #666;
    color: #ddd;
    font-size: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }

.card {
    margin:2em auto;
    border: 2px solid #ddd;
}

.card-title {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 28px;
    font-weight: bold;
    color: #4aaaa5;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
    margin: 10px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 28px;
    font-size: 16px;
    color: #777;
}

#submit-contact-button {
    background-color: #4aaaa5;
    border-radius: 0%;
    color: #fff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: 0px;
    font-size: 14px;   
}

#label1, #label2, #label3 {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    margin-top: 10px;
    margin-bottom: 5px;
}

#gallery {
    margin-bottom: 100px;
}