/*navbar - all pages!*/
.navbar-brand {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #4aaaa5;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 18px;
}

#navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 0px;
}

#nav-item {
    color: #777;
    font-size: 14px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#navigation {
    padding: 0px;
    max-width: 960px;
}

#navigation a:hover {
    color: #777;
}

/*footer - all pages!*/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
    border-top: 5px solid #4aaaa5;
    background-color: #666;
    color: #ddd;
    font-size: 10px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }

/*all pages*/
body {
    background-image: url(../images/light-grey-terrazzo.png);
    background-color: #ccc;
}

.card {
    margin: 2em auto;
    margin-bottom: 100px;
    border: 2px solid #ddd;
    max-width: 960px;
}

.card-title {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 28px;
    font-weight: bold;
    color: #4aaaa5;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
    margin: 10px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    line-height: 28px;
    font-size: 16px;
    color: #777;
}

/*about me specific*/
#profilepic {
    width: 175px;
    max-width: 100%;
    height: auto;
}

#profile-pic-container {
    margin-top: 10px;
}

#about-me-p1 {
    margin-top: 15px;
}

#about-me-p2 {
    margin: 15px auto;
}

#about-me-p3 {
    margin: 15px auto;
}


/*contact specific*/
#name-label, #email-label, #message-label {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777;
    margin-top: 10px;
    margin-bottom: 5px;
}

form {
    margin: 10px;
}

#submit-contact-button {
    background-color: #4aaaa5;
    border-radius: 0%;
    color: #fff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    border: 0px;
    font-size: 14px;   
}

/*portfolio specific*/
.gallery-row {
    text-align: center;
    margin-top: 30px;
}

.gallery-column {
    text-align: center;
    position: relative;
}

#maps-image, #emoji-face-image, #word-game-image, #jigsaw-puzzle-image, #reading-image {
    width: 220px;
    height: auto;
}

.gallery-overlay-text {
    position: absolute;
    background-color: #4aaaa5;
    padding: 5px;
    width: 220px;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -90%);
}

#gallery-text {
    color: white;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}